@import '../../../../style/variables.scss';

.main_counters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 2.5rem 0rem;
  &_moves {
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
    z-index: 1;
    width: 18.5rem;
  }
  &_text {
    margin-right: 0.5rem;
  }
  &_time {
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
    z-index: 1;
    width: 24rem;
  }
  &_time_text {
    margin-right: 0.5rem;
  }
  &_time_number {
    margin: 0;
  }
  &_txt {
    font-size: 3.7rem;
    line-height: 140%;
    color: $color-text-black;
    margin: 0;
  }
}
