@import '../../../../../../assets/../style/variables.scss';

.switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  &_title {
    font-size: 3rem;
    line-height: 140%;
    text-align: center;
    color: $color-text;
    margin: 0;
  }
  &_inner {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &_switch {
    position: relative;
    display: inline-block;
    width: 12rem;
    height: 6rem;
    margin-right: 2.2rem;
  }
  &_checkbox {
    display: none;
  }
  &_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(35, 34, 30, 0.59) 0%, rgba(255, 255, 249, 0) 100%);
    transition: 0.4s linear;
    &::before {
      position: absolute;
      content: '';
      height: 5rem;
      width: 5rem;
      left: 0.4rem;
      bottom: 0.4rem;
      background: linear-gradient(180deg, rgba(226, 226, 226, 0.54) 0%, #bcbcbc 100%);
      transition: 0.4s linear;
    }
  }
  &_value {
    font-size: 3rem;
    line-height: 140%;
    color: $color-text;
    width: 4rem;
  }
}

.switcher_checkbox:checked + .switcher_slider {
  background: #fff;
  box-shadow: 0px 0px 6.54px 0px #fff, 0px 0px 13.08px 0px #fff, 0px 0px 45.78px 0px #fff, 0px 0px 91.56px 0px #fff,
    0px 0px 156.96001px 0px #fff, 0px 0px 274.67999px 0px #fff;
}
.switcher_checkbox:focus + .switcher_slider {
  box-shadow: 0 0 1px #2196f3;
}
.switcher_checkbox:checked + .switcher_slider::before {
  transform: translateX(6rem);
}
