.volume {
  display: flex;
  align-items: center;
  margin-left: -6rem;
  margin-top: 3rem;
  &_icon {
    display: block;
    min-width: 7rem;
    height: 7rem;
    object-fit: contain;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  &_input[type='range'] {
    -webkit-appearance: none;
    cursor: pointer;
    height: 0.3rem;
    outline: none;
    transition: 0.5s ease-in-out;
    max-width: 14rem;
    width: 100%;
  }
  &_input[type='range']::-webkit-slider-thumb {
    appearance: none;
    // filter: drop-shadow(0px 0px 1.2000000476837158px #fff) drop-shadow(0px 0px 2.4000000953674316px #fff)
    //   drop-shadow(0px 0px 8.399999618530273px #fff) drop-shadow(0px 0px 16.799999237060547px #d9d9d9)
    //   drop-shadow(0px 0px 28.799999237060547px #d9d9d9) drop-shadow(0px 0px 50.400001525878906px #d9d9d9);
    appearance: none;
    width: 0.3rem;
    height: 2rem;
    background-color: white;
    cursor: pointer;
    transition: ease 0.5s;
  }
  &_input[type='range']::-moz-range-thumb {
    appearance: none;
    // filter: drop-shadow(0px 0px 1.2000000476837158px #fff) drop-shadow(0px 0px 2.4000000953674316px #fff)
    //   drop-shadow(0px 0px 8.399999618530273px #fff) drop-shadow(0px 0px 16.799999237060547px #d9d9d9)
    //   drop-shadow(0px 0px 28.799999237060547px #d9d9d9) drop-shadow(0px 0px 50.400001525878906px #d9d9d9);
    appearance: none;
    width: 0.3rem;
    height: 2rem;
    background-color: white;
    cursor: pointer;
    transition: ease 0.5s;
  }
}

@media (max-width: 480px) {
  .volume {
    max-width: 30rem;
    width: 100%;
    margin-left: 0;
    max-width: inherit;
    &_input::-webkit-slider-thumb {
      filter: none;
    }
    &_input::-moz-range-thumb {
      filter: none;
    }
    &_input[type='range'] {
      max-width: none;
      width: 100%;
      margin-right: 2rem;
    }
  }
}
