@import '../../../../../assets/../style/variables.scss';

.settings {
  margin-top: 2rem;
  max-width: 80rem;
  width: 100%;
  &_title {
    font-size: 4rem;
    line-height: 140%;
    text-align: center;
    color: $color-text;
    margin: 0;
  }
  &_inner {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &_left {
  }
}

@media (max-width: 450px) {
  .settings {
    &_right {
      align-items: inherit;
    }
    &_inner {
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }
  }
}
