@import '../../node_modules/normalize.css/normalize.css';
@import './fonts.scss';
@import './variables.scss';
@import './header/header.scss';
@import './main/welcome.scss';
@import './main/works.scss';
@import './main/slider.scss';
@import './main/feed.scss';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-size: 1.6rem;
  line-height: 2.24rem;
  font-weight: $fwr;
}

.container {
  max-width: 117rem;
  padding: 0 0.5rem;
  margin: 0 auto;
}
