$font-family: 'Roboto', sans-serif;

$fwb: 700;
$fwm: 500;
$fwr: 400;
$fwl: 300;

$green: #4b9200;
$orange: #f9804b;
$yellow: #ffee2e;
$orange_grad: #fed290;
$pink_gradient: #febdab;
$red: #d31414;
$black_blue: #333b41;
$gray: #767474;
$gray_smoky: #ababab;
$light_gray: #f1f3f2;
$frosted_glass_white: #fdfdff;

$default_btn: #f9804b;
$hover_btn: #e47209;
$active_btn: #4b9200;
$disable_btn: #767474;
