@import '../../../style/variables.scss';

.header {
  background: rgba(20, 19, 17, 0.5);
  backdrop-filter: blur(0.6rem);
  &_nav {
    padding: 1.5rem 0rem;
  }
  &_list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &_list_item {
    user-select: none;
  }
  &_mobile_btn {
    display: none;
    @extend %btn-light;
    background: $color-btn;
    width: 10rem;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.2s linear;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
  &_mobile_btn_active {
    background: rgb(142, 122, 61);
  }
  &_item_btn {
    @extend %btn-light;
    background: $color-btn;
    width: 15rem;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.2s linear;
    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
  &_item_btn_active {
    background: rgb(142, 122, 61);
  }
  &_list_item:not(:last-child) {
    margin-right: 2rem;
  }
  &_item_link {
    color: $default-color;
    text-decoration: none;
  }
  &_burger {
    display: none;
  }
}

@media (max-width: 870px) {
  .header {
    &_item_btn {
      width: 12rem;
    }
  }
}

@media (max-width: 670px) {
  .header {
    &_item_btn {
      font-size: 2.1rem;
      width: 10.5rem;
    }
  }
}

@media (max-width: 570px) {
  .header {
    height: 7rem;
    &_mobile_btn {
      display: block;
      position: absolute;
    }
    &_nav {
      padding: 0;
    }
    &_list {
      height: 100vh;
      position: fixed;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 8rem;
      opacity: 0;
      transform: translateY(-500rem);
      transition: linear 0.5s;
      z-index: -1;
      background: black;
      width: 100%;
      &_item:not(:last-child) {
        margin-right: 0;
      }
      &_item:nth-child(2) {
        display: none;
      }
    }
    &_list_item {
      width: 100%;
      height: 6rem;
    }
    &_item_btn {
      font-size: 2.5rem;
      line-height: 140%;
      width: 100%;
      height: 100%;
    }
    &_list_show {
      display: flex;
      transform: translateY(0rem);
      opacity: 1;
      z-index: 1002;
    }
    &_burger {
      display: block;
      position: fixed;
      right: 2rem;
      top: 1rem;
      padding-top: 2rem;
      cursor: pointer;
      width: 4rem;
      transition: linear 0.2s;
      z-index: 1002;
    }
    &_burger_item {
      display: block;
      height: 0.4rem;
      background-color: beige;
      margin-bottom: 0.5rem;
      transition: all 0.5s;
      &_rotate {
        z-index: 1003;
        &:nth-child(1) {
          margin-bottom: -3px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
