.main {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  flex-grow: 1;
}

@media (max-width: 870px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 570px) {
  .main {
    position: relative;
    margin: 0;
  }
}
