@import '../../../../../style/variables.scss';

.warning {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  user-select: none;
  z-index: 1001;
  &_inner {
    max-width: 90rem;
    width: 100%;
    padding: 1rem;
    border: 0.5rem solid #7e7d7b;
    background: linear-gradient(180deg, #1d1e1a 0%, rgba(55, 56, 52, 0) 100%);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  &_text {
    font-size: 6.5rem;
    line-height: 140%;
    text-align: center;
    color: $color-text;
    margin: 0;
    text-shadow: 0px 0px 20px #fff, 0px 0px 2px #fff, 0px 0px 275.3099975586px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff,
      1px 1px 9px #fff;
  }
  &_close {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    width: 4rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    transition: 0.2s linear;
    &:hover {
      transform: translate(0.9);
      opacity: 0.8;
    }
  }
  &_btns {
    display: flex;
    justify-content: center;
    margin-top: 5.6rem;
    margin-bottom: 3.4rem;
  }
  &_btn {
    @extend %popup-btn-light;
    font-size: 4.5rem;
    text-transform: uppercase;
    height: 8rem;
    max-width: 30rem;
    width: 100%;
    transition: 0.2s linear;
    &:nth-child(1) {
      margin-right: 8rem;
    }
    &:hover {
      opacity: 0.5;
      background: orange;
    }
    &:active {
      background: linear-gradient(180deg, rgba(124, 121, 112, 0.91) 0%, rgba(255, 255, 255, 0.12) 100%);
    }
  }
}
