.footer{display:flex;justify-content:space-between;align-items:center;flex-shrink:0;background:rgba(20,19,17,.5);-webkit-backdrop-filter:blur(6px);backdrop-filter:blur(0.6rem);position:relative;z-index:1}.footer_year{font-size:1.5rem;line-height:1.2rem;color:#fff;margin-left:4rem}.footer_year_dark{color:#a1d0e7}.footer_link{font-size:1.5rem;line-height:1.2rem;color:#fff;text-decoration:none;margin-right:4rem;transition:.2s linear}.footer_link:hover{color:orange;opacity:.5}.footer_link_dark{color:#a1d0e7}
.header_item_btn{font-size:2.5rem;line-height:140%;border:none;color:#fff;cursor:pointer;user-select:none;border:none;background:linear-gradient(180deg, rgba(170, 170, 170, 0.91) 0%, #2e2d2c 100%);-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px);width:100%;height:100%;transition:.2s linear}.header_item_btn:hover{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.header_item_btn:active{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.header_item_btn:disabled{opacity:.3;cursor:not-allowed}.header_mobile_btn{font-size:2.5rem;line-height:140%;display:none;border:none;color:#fff;cursor:pointer;user-select:none;background:linear-gradient(180deg, rgba(148, 146, 141, 0.91) 0%, rgba(255, 255, 255, 0.12) 100%);width:10rem;transition:.2s linear;margin-top:1.5rem;margin-left:1.5rem}.header_mobile_btn:hover{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.header_mobile_btn:active{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.header_mobile_btn:disabled{opacity:.3;cursor:not-allowed}.header{background:rgba(20,19,17,.5);-webkit-backdrop-filter:blur(6px);backdrop-filter:blur(0.6rem)}.header_nav{padding:1.5rem 0rem}.header_list{display:flex;justify-content:center;list-style:none;padding:0;margin:0}.header_list_item{user-select:none}.header_mobile_btn_active{background:#8e7a3d}.header_list_item{max-width:15rem;width:100%}.header_item_btn_dark{background:linear-gradient(180deg, #1a4256 0%, #0a1415 100%);color:#a1d0e7}.header_item_btn_dark:hover{box-shadow:0px 0px .54px 0px #000,0px 0px 1.08px 0px #000,0px 0px 3.78px 0px #000,0px 0px 7.56px 0px #000,0px 0px 12.96px 0px #000,0px 0px 22.68px 0px #000}.header_mobile_btn_active_dark{background:linear-gradient(180deg, #5d8498 0%, #182728 100%)}.header_item_btn_active{background:#8e7a3d}.header_item_btn_active_dark{background:linear-gradient(180deg, #5d8498 0%, #182728 100%)}.header_list_item:not(:last-child){margin-right:2rem}.header_item_link{color:#000;text-decoration:none}.header_burger{display:none}@media(max-width: 670px){.header_item_btn{font-size:2.1rem}}@media(max-width: 570px){.header{height:7rem}.header_mobile_btn{display:block;position:absolute}.header_nav{padding:0}.header_list{height:100vh;position:fixed;display:none;flex-direction:column;align-items:center;justify-content:flex-start;padding-top:7rem;opacity:0;transform:translateY(-500rem);transition:linear .5s;z-index:-1;background:rgba(21,22,19,.86);-webkit-backdrop-filter:blur(7.5px);backdrop-filter:blur(7.5px);width:100%}.header_list_item:not(:last-child){margin-right:0}.header_list_item:nth-child(2){display:none}.header_list_item{max-width:inherit;width:100%;height:6rem}.header_item_btn{font-size:2.5rem;line-height:140%}.header_list_show{display:flex;transform:translateY(0rem);opacity:1;z-index:1002}.header_burger{display:block;position:fixed;right:2rem;top:1rem;padding-top:2rem;cursor:pointer;width:4rem;transition:linear .2s;z-index:1002;transform:none}.header_burger_item{display:block;height:.4rem;background-color:beige;margin-bottom:.5rem;transition:all .5s;transform:none}.header_burger_item_dark{background:linear-gradient(180deg, #5d8498 0%, #182728 100%)}.header_burger_item_rotate{z-index:1003}.header_burger_item_rotate:nth-child(1){margin-bottom:-3px;transform:rotate(45deg)}.header_burger_item_rotate:nth-child(2){transform:rotate(-45deg)}}
.main_counters{display:flex;justify-content:space-between;align-items:center;margin:0 auto;margin-top:2rem;width:100%}.main_counters_block_right{display:flex;align-items:center;user-select:none;position:relative;z-index:1}.main_counters_time_number{width:16rem}.main_counters_moves{display:flex;align-items:center;user-select:none;position:relative;z-index:1}.main_counters_text{margin-right:.5rem}.main_counters_time_text{margin-right:.5rem}.main_counters_txt{font-size:3.7rem;line-height:140%;color:#0b0a0a;margin:0}.main_counters_txt_dark{color:#a1d0e7}@media(max-width: 1920px)and (max-height: 1000px){.main_counters{max-width:57rem}}@media(max-width: 870px){.main_counters{max-width:55rem}.main_counters_time_number{width:13rem}.main_counters_txt{font-size:2.9rem}}@media(max-width: 570px){.main_counters{max-width:50rem}}@media(max-width: 450px){.main_counters{margin:0}.main_counters_time_number{width:10rem}.main_counters_moves{width:100%}.main_counters_txt{font-size:2.1rem}}
.main_frame_other_size{font-size:2.5rem;line-height:140%;width:10.5rem;background:linear-gradient(180deg, rgba(170, 170, 170, 0.91) 0%, #2e2d2c 100%);-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px);transition:.2s linear;border:none;color:#fff;cursor:pointer;user-select:none}.main_frame_other_size:hover{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.main_frame_other_size:active{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.main_frame_other_size:disabled{opacity:.3;cursor:not-allowed}.main_frame_btn{font-size:2.5rem;line-height:140%;border:none;color:#fff;padding:.5rem 0rem;max-width:25.5rem;width:100%;background:linear-gradient(180deg, rgba(170, 170, 170, 0.91) 0%, #2e2d2c 100%);-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px);transition:.2s linear;cursor:pointer;user-select:none}.main_frame_btn:hover{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.main_frame_btn:active{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.main_frame_btn:disabled{opacity:.3;cursor:not-allowed}.main_frame{display:flex;flex-direction:column;text-align:center;align-items:center;margin-top:3.8rem}.main_frame_block{display:flex;align-items:center;user-select:none}.main_frame_text{margin:0}.main_frame_size{margin:0;margin-left:1rem}.main_frame_other{display:flex;align-items:center;justify-content:center;margin-top:3rem;user-select:none;width:100%}.main_frame_other_text{margin:0}.main_frame_other_size:not(:last-child){margin-right:.4rem}.main_frame_other_size_dark{color:#a1d0e7;background:linear-gradient(180deg, #1a4256 0%, #0a1415 100%)}.main_frame_other_size_dark:hover{box-shadow:0px 0px .54px 0px #000,0px 0px 1.08px 0px #000,0px 0px 3.78px 0px #000,0px 0px 7.56px 0px #000,0px 0px 12.96px 0px #000,0px 0px 22.68px 0px #000}.main_frame_other_size_active{background:#8e7a3d}.main_frame_other_size_active_dark{background:linear-gradient(180deg, #5d8498 0%, #182728 100%)}.main_frame_btn_dark{background:linear-gradient(180deg, #1a4256 0%, #0a1415 100%);color:#a1d0e7}.main_frame_btn_dark:hover{box-shadow:0px 0px .54px 0px #000,0px 0px 1.08px 0px #000,0px 0px 3.78px 0px #000,0px 0px 7.56px 0px #000,0px 0px 12.96px 0px #000,0px 0px 22.68px 0px #000}.main_frame_btn_active{background:#8e7a3d}.main_frame_btn_active_dark{background:linear-gradient(180deg, #5d8498 0%, #182728 100%)}@media(max-width: 870px){.main_frame{max-width:55rem;margin-top:2rem}}@media(max-width: 670px){.main_frame{max-width:50rem;margin-top:4rem}.main_frame_other_size{font-size:2.1rem}}@media(max-width: 570px){.main_frame{max-width:inherit;margin-top:4rem}.main_frame_other_size{font-size:2.1rem}}@media(max-width: 450px){.main_frame{max-width:inherit;margin-top:4rem}.main_frame_other_size{font-size:1.7rem}.main_frame_btn{font-size:2.1rem}}
.main_game_animation{position:relative;margin:10px;background-color:rgba(0,0,0,0)}.main_game_animation::before{content:"";position:absolute;left:0;top:0;width:100%;height:100%;box-shadow:0rem 0rem 8rem 4rem #fff;z-index:1;animation-name:gradient-shadow;animation-timing-function:ease;animation-duration:3s;animation-iteration-count:infinite;border-radius:5px;opacity:.5}.main_game_animation_dark{position:relative;margin:10px;background-color:rgba(0,0,0,0)}.main_game_animation_dark::before{content:"";position:absolute;left:0;top:0;width:100%;height:100%;box-shadow:0rem 0rem 8rem 4rem #000f18;z-index:1;animation-name:gradient-shadow-dark;animation-timing-function:ease;animation-duration:3s;animation-iteration-count:infinite;border-radius:5px;opacity:.5}@keyframes gradient-shadow{0%{box-shadow:0 0 40px 20px #3d3d3d,0 0 4px 2px #3d3d3d}20%{box-shadow:0 0 40px 20px #232720,0 0 4px 2px #232720}40%{box-shadow:0 0 40px 20px #8f885b,0 0 4px 2px #8f885b}60%{box-shadow:0 0 40px 20px #acab9b,0 0 4px 2px #acab9b}80%{box-shadow:0 0 40px 20px #1f2723,0 0 4px 2px #1f2723}100%{box-shadow:0 0 40px 20px #8e7b3e,0 0 4px 2px #8e7b3e}}@keyframes gradient-shadow-dark{0%{box-shadow:0 0 40px 20px #000f18,0 0 4px 2px #000f18}20%{box-shadow:0 0 40px 20px #022337,0 0 4px 2px #022337}40%{box-shadow:0 0 40px 20px #033c5f,0 0 4px 2px #033c5f}60%{box-shadow:0 0 40px 20px #0f374f,0 0 4px 2px #0f374f}80%{box-shadow:0 0 40px 20px #0b212f,0 0 4px 2px #0b212f}100%{box-shadow:0 0 40px 20px #020608,0 0 4px 2px #020608}}.main_game{margin:0 auto;max-width:65rem;width:100%}.main_game_over{position:relative;background:rgba(0,0,0,.4);user-select:none;pointer-events:none;cursor:not-allowed;opacity:.7}.main_game_container{display:grid;padding:.5rem;grid-gap:.5rem;background:rgba(20,19,17,.64);-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px);box-shadow:0rem 0rem 8rem 4rem #fff;position:relative}.main_game_container_dark{background:linear-gradient(180deg, rgba(38, 72, 89, 0.64) 0%, rgba(14, 34, 40, 0.64) 100%);box-shadow:0rem 0rem 8rem 4rem #000f18}.main_game_container_3x3{grid-template-columns:repeat(3, 1fr)}.main_game_container_4x4{grid-template-columns:repeat(4, 1fr)}.main_game_container_5x5{grid-template-columns:repeat(5, 1fr)}.main_game_container_6x6{grid-template-columns:repeat(6, 1fr)}.main_game_container_7x7{grid-template-columns:repeat(7, 1fr)}.main_game_container_8x8{grid-template-columns:repeat(8, 1fr)}.main_game_square{font-size:4.8rem;line-height:140%;color:#fff;aspect-ratio:1/1;cursor:pointer;text-align:center;display:flex;align-items:center;justify-content:center;transition:linear .2s;user-select:none;border:.6rem solid #aeb1ab;background:#3d3d3d;opacity:.8}.main_game_square_3x3{font-size:4.8rem}.main_game_square_4x4{font-size:4.4rem;border:.55rem solid #aeb1ab}.main_game_square_5x5{font-size:4rem;border:.5rem solid #aeb1ab}.main_game_square_6x6{font-size:3.6rem;border:.45rem solid #aeb1ab}.main_game_square_7x7{font-size:3.2rem;border:.35rem solid #aeb1ab}.main_game_square_8x8{font-size:2.8rem;border:.3rem solid #aeb1ab}.main_game_square_dark{background:rgba(3,5,6,.4);border-color:#071113;color:#a1d0e7}.main_game_square_empty{border:none;cursor:auto;outline:none;user-select:none;z-index:0;background:none}@media(max-width: 1920px)and (max-height: 1000px){.main_game{max-width:57rem}}@media(max-width: 870px){.main_game{max-width:55rem}.main_game_container{box-shadow:0rem 0rem 5rem 4rem #fff}.main_game_container_dark{background:linear-gradient(180deg, rgba(38, 72, 89, 0.64) 0%, rgba(14, 34, 40, 0.64) 100%);box-shadow:0rem 0rem 8rem 4rem #000f18}}@media(max-width: 670px){.main_game{max-width:50rem}.main_game_container{box-shadow:0rem 0rem 6rem 3rem #fff}.main_game_container_dark{background:linear-gradient(180deg, rgba(38, 72, 89, 0.64) 0%, rgba(14, 34, 40, 0.64) 100%);box-shadow:0rem 0rem 8rem 4rem #000f18}}@media(max-width: 450px){.main_game_square{font-size:2.1rem;border:.3rem solid #aeb1ab}.main_game_square_dark{border-color:#071113}.main_game_square_empty{border:none}}@media(max-width: 350px){.main_game_square{font-size:1.7rem;border:.2rem solid #aeb1ab}.main_game_square_dark{border-color:#071113}.main_game_square_empty{border:none}}
.main{max-width:120rem;padding:0 1.5rem;margin:0 auto;flex-grow:1}@media(max-width: 870px){.main{display:flex;flex-direction:column;justify-content:center}}@media(max-width: 570px){.main{margin:0}}
.popups_collect{width:100%;height:100%;margin-top:4.5rem;color:#fff;user-select:none}.popups_collect_dark{color:#a1d0e7}.popups_collect_info{margin-top:4rem}.popups_collect_title{font-size:3.5rem;line-height:140%;text-align:center;color:inherit;margin:0}.popups_collect_time{font-size:2.4rem;line-height:140%;text-align:center;margin:0;margin-bottom:1rem}.popups_collect_total_time{font-size:2.4rem;line-height:140%;text-align:center;color:inherit;margin:0;margin-bottom:1rem}.popups_collect_moves{font-size:2.4rem;line-height:140%;text-align:center;color:inherit;margin:0;margin-bottom:1rem}@media(max-width: 580px){.popups_collect_title{font-size:2.5rem}}
.popups_finish{margin-top:4.5rem;color:#fff;user-select:none}.popups_finish_dark{color:#a1d0e7}.popups_finish_info{margin-top:4rem}.popups_finish_title{font-size:3.5rem;line-height:140%;text-align:center;color:inherit;margin:0}.popups_finish_time{font-size:2.4rem;line-height:140%;text-align:center;color:inherit;margin:0;margin-bottom:1rem}.popups_finish_moves{font-size:2.4rem;line-height:140%;text-align:center;color:inherit;margin:0;margin-bottom:1rem}@media(max-width: 580px){.popups_finish_title{font-size:2.5rem}}
.popups_result_delete{width:2.5rem;height:2.5rem;cursor:pointer;transition:.2s linear}.popups_result_delete:hover{opacity:.5}.popups_result{width:100%;height:100%}.popups_result_title{font-size:4rem;line-height:140%;text-align:center;color:#fff;user-select:none}.popups_result_table{width:100%;height:100%;border-collapse:collapse}.popups_result_thead{height:10rem;border-bottom:.5rem solid #7f7e7c}.popups_result_empty{font-size:3.5rem;line-height:140%;color:#fff;opacity:.5;display:flex;justify-content:center;user-select:none}.popups_result_empty:hover{cursor:not-allowed}.popups_result_empty_dark{color:#a1d0e7}.popups_result_th{font-size:4rem;line-height:140%}.popups_result_tr{position:relative;text-align:center;color:#fff;transition:linear .3s;user-select:none}.popups_result_tr:hover:not(:first-child){background:#7f7e7c;opacity:.5}.popups_result_td{font-size:2.5rem;line-height:140%;border:.2rem solid #7f7e7c;z-index:2;padding-top:.7rem;padding-bottom:.7rem;border-color:inherit}.popups_result_td:nth-child(1){width:7rem;border-left:none}.popups_result_td:nth-child(4){border-right:none}.popups_result_list{font-size:2.4rem;line-height:140%;padding:0;list-style:none;color:#fff;width:100%;margin:0rem 0rem 4rem}.popups_result_wrapper{display:flex;align-items:center;list-style:none;padding:0;background:linear-gradient(180deg, rgba(148, 146, 141, 0.11) 0%, rgba(255, 255, 255, 0.12) 100%);margin-bottom:1rem;padding:.5rem}.popups_result_item{font-size:3.5rem;line-height:140%;color:#fff}.popups_result_item:nth-child(2){max-width:30rem;width:100%}.popups_result_item:nth-child(3){max-width:18.5rem;width:100%}.popups_result_item:nth-child(4){max-width:28rem;width:100%}.popups_result_count{max-width:3rem;width:100%}.popups_result_delete{position:absolute;background:url(../assets/svg/close-btn.svg) no-repeat center/contain;right:1rem;top:1.3rem}.popups_result_dark_theme{color:#a1d0e7;border-color:#132935}.popups_result_dark_theme:hover:not(:first-child){background:linear-gradient(180deg, #5d8498 0%, #182728 100%);opacity:.5}@media(max-width: 638px){.popups_result_delete{position:static;background:url(../assets/svg/close-btn.svg) no-repeat center/contain;border-top:.2rem solid #7f7e7c;border-bottom:.2rem solid #7f7e7c;border-color:inherit}}@media(max-width: 470px){.popups_result_title{font-size:3rem}.popups_result_td{font-size:1.6rem}.popups_result_empty{font-size:3rem}}
.popups_new_btn{font-size:3rem;line-height:140%;position:absolute;bottom:0rem;width:100%;border:none;background:linear-gradient(180deg, #23221e 0%, rgba(255, 255, 249, 0) 100%);color:#fff;cursor:pointer;user-select:none;transition:.2s linear}.popups_new_btn:hover{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.popups_new_btn:active{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.popups_new_btn:disabled{background:#3d3d3d;opacity:.3;cursor:not-allowed}.popups_close_btn{width:2.5rem;height:2.5rem;cursor:pointer;transition:.2s linear}.popups_close_btn:hover{opacity:.5}.popups{position:absolute;left:0;right:0;bottom:0;top:0;background:rgba(0,0,0,.6);z-index:1000;-webkit-backdrop-filter:blur(0.75rem);backdrop-filter:blur(0.75rem);user-select:none}.popups_inner{display:flex;flex-direction:column;align-items:center;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);max-width:90rem;width:100%;min-height:38rem;border:.5rem solid #7e7d7b;padding-bottom:7rem;background:rgba(21,22,19,.86)}.popups_inner_dark{border-color:#132935;background:rgba(3,5,6,.5)}.popups_close_btn{background:url(../assets/svg/close-btn.svg) no-repeat center/contain;position:absolute;right:1rem;top:1rem;border:none}.popups_new_btn_dark{background:linear-gradient(180deg, #1a4256 0%, #0a1415 100%);color:#a1d0e7}.popups_new_btn_dark:hover{box-shadow:0px 0px .54px 0px #000,0px 0px 1.08px 0px #000,0px 0px 3.78px 0px #000,0px 0px 7.56px 0px #000,0px 0px 12.96px 0px #000,0px 0px 22.68px 0px #000}.popups_new_btn_dark:disabled{background:linear-gradient(180deg, #5d8498 0%, #182728 100%)}@media(max-width: 540px){.popups_result_title{font-size:3rem}.popups_close_btn{width:3rem;height:3rem}.popups_new_btn{font-size:2.5rem}}
.settings{margin-top:2rem;max-width:80rem;width:100%}.settings_title{font-size:4rem;line-height:140%;text-align:center;color:#fff;margin:0;user-select:none}.settings_title_dark{color:#a1d0e7}.settings_inner{display:flex;justify-content:space-between;margin-left:1rem;margin-right:1rem}.settings_right{display:flex;flex-direction:column;align-items:flex-start}@media(max-width: 500px){.settings_inner{flex-direction:column;justify-content:center;margin:0}.settings_title{font-size:2.1rem;margin-bottom:1.5rem}}
.switcher{display:flex;flex-direction:column;align-items:center;margin-bottom:1rem;width:100%}.switcher_title{font-size:2.7rem;line-height:140%;text-align:center;color:#fff;margin:0}.switcher_title::first-letter{text-transform:uppercase}.switcher_title_dark{color:#a1d0e7}.switcher_inner{display:flex;align-items:center;width:23rem}.switcher_switch{position:relative;display:inline-block;width:10rem;height:5rem;margin-right:2.2rem}.switcher_checkbox{display:none}.switcher_slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background:linear-gradient(180deg, rgba(35, 34, 30, 0.59) 0%, rgba(255, 255, 249, 0) 100%);transition:.5s ease}.switcher_slider::before{position:absolute;content:"";height:4rem;width:4rem;left:.4rem;bottom:.5rem;background:linear-gradient(180deg, rgba(226, 226, 226, 0.54) 0%, #bcbcbc 100%);transition:.5s ease}.switcher_slider_dark{background:linear-gradient(180deg, #04090a 0%, #182728 100%)}.switcher_slider_dark::before{background:#7092a4}.switcher_value{font-size:2.5rem;line-height:140%;color:#fff}.switcher_value_dark{color:#a1d0e7}.switcher_checkbox:checked+.switcher_slider{background:rgba(142,122,61,.3)}.switcher_checkbox:checked+.switcher_slider_dark{background:linear-gradient(180deg, #436a73 0%, #0c191a 100%)}.switcher_checkbox:checked+.switcher_slider::before{transform:translateX(5rem)}@media(max-width: 670px){.switcher_value{margin-top:1rem;margin-bottom:1rem}}@media(max-width: 500px){.switcher{margin-bottom:1.5rem}.switcher_switch{width:100%;height:4rem;margin-right:0;position:relative;z-index:1;margin-left:1rem;margin-right:1rem}.switcher_inner{width:100%}.switcher_title{font-size:1.9rem;margin-bottom:.5rem}.switcher_slider{width:100%}.switcher_slider::before{height:3rem;width:4rem;left:.2rem;bottom:.5rem}.switcher_value{font-size:1.6rem;position:absolute;transform:translateX(-50%);left:50%;user-select:none;pointer-events:none;z-index:1}.switcher_checkbox:checked+.switcher_slider::before{transform:translateX(82vw)}.switcher_checkbox:checked+.switcher_value{color:red}.switcher_checkbox:checked+.switcher_slider{background:rgba(142,122,61,.3)}.switcher_checkbox:checked+.switcher_slider_dark{background:linear-gradient(180deg, #436a73 0%, #0c191a 100%)}.switcher_checkbox:checked+.switcher_slider_dark::before{background:#7092a4}}@media(max-width: 415px){.switcher_switch{font-size:2rem}.switcher_checkbox:checked+.switcher_slider::before{transform:translateX(80vw)}}@media(max-width: 450px)and (max-height: 666px){.switcher_switch{height:3rem}.switcher_slider::before{height:2rem;width:3.5rem}}@media(max-width: 370px){.switcher_checkbox:checked+.switcher_slider::before{transform:translateX(76vw)}}
.volume{display:flex;align-items:center;margin-left:-6rem;margin-top:3rem;margin-bottom:2.5rem}.volume_icon{display:block;min-width:7rem;height:7rem;object-fit:contain;cursor:pointer;margin-right:.5rem}.volume_input[type=range]{appearance:none;cursor:pointer;height:.3rem;outline:none;transition:.5s ease-in-out;max-width:14rem;width:100%}.volume_input[type=range]::-webkit-slider-thumb{appearance:none;width:.3rem;height:2rem;background-color:#fff;cursor:pointer;transition:ease .5s}.volume_input[type=range]::-moz-range-thumb{appearance:none;width:.3rem;height:2rem;background-color:#fff;cursor:pointer;transition:ease .5s}@media(max-width: 670px){.volume{margin-top:3.1rem;margin-bottom:0}}@media(max-width: 500px){.volume{max-width:30rem;width:100%;margin-left:0;max-width:inherit;margin-top:1rem}.volume_input::-webkit-slider-thumb{filter:none}.volume_input::-moz-range-thumb{filter:none}.volume_input[type=range]{max-width:none;width:100%;margin-right:2rem}.volume_icon{min-width:5rem}}
.warning_btn{font-size:3.5rem;line-height:140%;border:none;background:linear-gradient(180deg, #23221e 0%, rgba(255, 255, 249, 0) 100%);color:#fff;cursor:pointer;user-select:none;text-transform:uppercase;height:5.5rem;max-width:20rem;width:100%;transition:.2s linear}.warning_btn:hover{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.warning_btn:active{box-shadow:0px 0px .72px 0px #fff,0px 0px 1.44px 0px #fff,0px 0px 5.04px 0px #fff,0px 0px 10.08px 0px #fff,0px 0px 17.28px 0px #fff,0px 0px 30.24px 0px #fff;opacity:.8}.warning{position:absolute;left:0;right:0;bottom:0;top:0;background:rgba(0,0,0,.6);user-select:none;z-index:1001}.warning_inner{max-width:63.5rem;width:100%;min-height:30rem;padding:1rem;border:5px solid #7e7d7b;background:rgba(21,22,19,.98);position:absolute;transform:translate(-50%, -50%);left:50%;top:50%}.warning_inner_dark{border-color:#132935;background:rgba(3,5,6,.9)}.warning_text{font-size:5rem;line-height:140%;text-align:center;color:#fff;margin:0;margin-top:5.7rem}.warning_text_dark{color:#a1d0e7}.warning_btns{display:flex;justify-content:center;margin-top:5rem;margin-bottom:3.7rem}.warning_btn:nth-child(1){margin-right:8rem}.warning_btn_dark{color:#a1d0e7;background:linear-gradient(180deg, #1a4256 0%, #0a1415 100%)}.warning_btn_dark:hover{box-shadow:0px 0px .54px 0px #000,0px 0px 1.08px 0px #000,0px 0px 3.78px 0px #000,0px 0px 7.56px 0px #000,0px 0px 12.96px 0px #000,0px 0px 22.68px 0px #000}@media(max-width: 400px){.warning_inner{min-height:inherit}.warning_text{font-size:4rem;margin-top:3rem}.warning_btn{font-size:2.5rem;line-height:140%}.warning_btn:nth-child(1){margin-right:3rem}.warning_btns{margin-bottom:0}}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@font-face{font-family:"Thasadith";src:url(../assets/fonts/Thasadith-Regular.eot);src:local("☺"),url(../assets/fonts/Thasadith-Regular.woff) format("woff"),url(../assets/fonts/Thasadith-Regular.ttf) format("truetype"),url(../assets/fonts/Thasadith-Regular.woff2) format("woff2");font-weight:normal;font-style:normal}@font-face{font-family:"Thasadith";src:url(../assets/fonts/Thasadith-Bold.eot);src:local("☺"),url(../assets/fonts/Thasadith-Bold.woff) format("woff"),url(../assets/fonts/Thasadith-Bold.ttf) format("truetype"),url(../assets/fonts/Thasadith-Bold.woff) format("woff2");font-weight:bold;font-style:normal}@font-face{font-family:"Inter";src:url(../assets/fonts/Inter-Regular.eot);src:local("☺"),url(../assets/fonts/Inter-Regular.woff) format("woff"),url(../assets/fonts/Inter-Regular.ttf) format("truetype"),url(../assets/fonts/Inter-Regular.woff2) format("woff2");font-weight:400;font-style:normal}@font-face{font-family:"Inter";src:url(../assets/fonts/Inter-Bold.eot);src:local("☺"),url(../assets/fonts/Inter-Bold.woff) format("woff"),url(../assets/fonts/Inter-Bold.ttf) format("truetype"),url(../assets/fonts/Inter-Bold.woff2) format("woff2");font-weight:bold;font-style:normal}*,*::after,*::before{box-sizing:inherit}html{box-sizing:border-box;scroll-behavior:smooth;font-size:10px;height:100%;background:#000}body{font-family:"Thasadith",sans-serif;font-size:1.8rem;line-height:2.7rem;font-weight:400;position:relative;background-size:cover;background-position:center}.wrapper{display:flex;flex-direction:column;min-height:100vh}.wrapper_bg{position:absolute;left:0;right:0;bottom:0;top:0;width:100%;height:100%;object-fit:cover;overflow:hidden;user-select:none;pointer-events:none}.firework{position:absolute;transform:translate(-50%, -50%);top:50%;left:50%;width:100%;height:100%;object-fit:contain;z-index:100}@media(max-width: 670px){.firework{object-fit:cover}}
