@import './variables.scss';

.gallery {
  padding-top: 7.5rem;
  background-color: $dark;
  position: relative;
  overflow: hidden;
  &_faq_block {
    max-width: 200px;
    height: 100px;
    width: 100%;
    position: absolute;
    right: 2rem;
    top: 5rem;
    background-color: wheat;
    transition: 0.5s ease;
    padding: 1rem;
    transform: translateX(400%);
    opacity: 0;
  }
  &_faq_show {
    opacity: 0.7;
    transform: translateX(0);
    transition: 0.5s ease;
  }
  &_faq_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 5px;
    top: 5px;
    background-image: url('../assets/svg/form_close.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1;
    &:hover {
      transform: scale(1.1);
    }
  }
  &_faq_text {
    font-family: 'Forum', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url('../assets/svg/atention.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 15px;
      height: 35px;
      right: -5px;
      top: 20px;
    }
  }
  &_popup {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: none;
    opacity: 0;
    transition: 0.5s ease;
  }
  &_popup_open {
    display: block;
    opacity: 1;
  }
  &_popup_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 72rem;
    width: 100%;
    background-color: #d2b183;
    padding: 1rem;
    z-index: 11;
    animation: popup-open 0.5s linear;
  }
  &_popup_left {
    width: 100%;
    margin-right: 1rem;
  }
  &_popup_title {
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0;
    color: $text-dark;
    text-align: center;
    margin-bottom: 1rem;
  }
  &_popup_author {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
    color: $text-dark;
    text-align: center;
    margin-bottom: 1rem;
  }
  &_popup_about {
    font-size: 1.7rem;
    font-weight: 300;
    margin: 0;
    color: $text-dark;
  }
  &_popup_img {
    max-width: 40rem;
    width: 100%;
    height: 50rem;
    object-fit: cover;
  }
  &_title {
    font-family: 'Forum', sans-serif;
    font-size: 8rem;
    font-weight: 400;
    line-height: 9rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: $text-light;
  }
  &_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.4rem 3.6rem;
    margin-top: 7.5rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 350px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
      pointer-events: none;
    }
  }
  &_item {
    position: relative;
    opacity: 0;
    transition: 0.5s linear;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 20px 10px rgba(255, 165, 0, 0.7);
    }
  }
  &_item_anim {
    opacity: 1;
  }
  &_item {
    &_1 {
      @extend %size-1;
      margin-top: 5rem;
    }
    &_2 {
      @extend %size-2;
    }
    &_3 {
      @extend %size-1;
      margin-top: 5rem;
    }
    &_4 {
      @extend %size-1;
    }
    &_5 {
      @extend %size-1;
      margin-top: -16.3rem;
    }
    &_6 {
      @extend %size-2;
    }
    &_7 {
      @extend %size-2;
    }
    &_8 {
      @extend %size-1;
      margin-top: -16.3rem;
    }
    &_9 {
      @extend %size-2;
      margin-top: -11.4rem;
    }
    &_10 {
      max-width: 45.6rem;
      width: 100%;
      height: 24.2rem;
    }
    &_11 {
      max-width: 45.6rem;
      width: 100%;
      height: 29.2rem;
      margin-top: -5rem;
    }
    &_12 {
      max-width: 45.6rem;
      width: 100%;
      height: 34.2rem;
      margin-top: -11.4rem;
    }
  }
  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes from-bottom {
  0% {
    transform: translateY(400%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    z-index: 1;
  }
}

@keyframes popup-open {
  0% {
    transform: translate(-50%, -50%);
    left: -150%;
    top: 50%;
  }
  100% {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}
