.header {
  background-color: $dark;
  color: $text-light;
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.8rem 0;
  }
  &_inner_logo {
    display: flex;
    &:hover .header_title {
      color: $gold;
    }
    &:hover .header_logo {
      filter: invert(55%) sepia(16%) saturate(704%) hue-rotate(356deg) brightness(95%) contrast(89%);
    }
  }
  &_title {
    font-size: 2.8rem;
    letter-spacing: 0.4rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    line-height: inherit;
    transition: 0.5s ease;
  }
  &_logo {
    width: 4.9rem;
    height: 2.6rem;
    margin-right: 2.5rem;
    transition: 0.5s ease;
  }
  &_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &_list_item:not(:last-child) {
    margin-right: 5.5rem;
  }
  &_list_link {
    letter-spacing: 0.2rem;
    color: $text-light;
    text-decoration: none;
    font-weight: 100;
    transition: 0.5s ease;
    &:active {
      color: $link-active;
    }
    &:hover {
      color: $link-hover;
    }
  }
}
