@import '../style/variables.scss';
@import '../libs/normalize.css';
@import '../style/fonts.scss';
@import '../style/welcome.scss';
@import '../style/header.scss';
@import '../style/welcome_slider.scss';
@import '../style/tour.scss';
@import '../style/explore.scss';
@import '../style/video.scss';
@import '../style/gallery.scss';
@import '../style/ticket.scss';
@import '../style/parallax.scss';
@import '../style/contacts.scss';
@import '../style/footer.scss';
@import '../style/form.scss';
@import '../style/explore_slider.scss';
@import '../style/video_slider.scss';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  @extend %font-default;
}

.container {
  max-width: 146rem;
  margin: 0 auto;
  padding: 0 1rem;
}
