.parallax {
  height: 400px;
  width: 100%;
  background: url('../assets/image/parallax.webp') no-repeat center/cover;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .parallax {
    height: 300px;
  }
}
