@import './fonts.scss';
@import '../../node_modules/normalize.css/normalize.css';
@import './variables.scss';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
  height: 100%;
  background: black;
}

body {
  font-family: $font-family;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: $fwr;
  position: relative;
  background-size: cover;
  background-position: center;
}

.body_original_light {
  background-image: url('../assets/image/main-bg-light.jpg') !important;
}

.body_original_dark {
  background-image: url('../assets/image/main-bg-dark.jpg') !important;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &_bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }
}

.firework {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 100;
}

@media (max-width: 670px) {
  .firework {
    object-fit: cover;
  }
}
