@import './variables.scss';

.ticket {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background-color: $text-light;
  position: relative;
  &_title {
    font-family: 'Forum', sans-serif;
    font-size: 8rem;
    font-weight: 400;
    line-height: 9rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: $gold;
    margin: 0;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.3rem;
      bottom: -2.8rem;
      left: 0;
      background-color: $red;
    }
  }
  &_blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 10.3rem;
  }
  &_img {
    max-width: 72rem;
    width: 100%;
    height: 55rem;
    margin-right: 6rem;
  }
  &_type_title {
    font-size: 2.8rem;
    font-weight: 700;
    color: $text-dark;
    margin: 0;
    margin-bottom: 2rem;
  }
  &_amount_title {
    font-size: 2.8rem;
    font-weight: 700;
    color: $text-dark;
    margin: 0;
    margin-bottom: 2.5rem;
    text-align: right;
  }
  &_type {
    max-width: 25rem;
    width: 100%;
    margin-left: -21.5rem;
  }
  &_label_inner {
    display: flex;
    align-items: center;
  }
  &_type_input {
    appearance: none;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }
  &_type_dot {
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    outline: none;
    border: 0.2rem solid #000000;
    border-radius: 50%;
    margin-right: 2.3rem;
  }
  &_type_text {
    color: $text-dark;
    font-weight: 300;
    margin: 0;
  }
  &_amount_item {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    &:not(:first-child) {
      margin-bottom: 1.1rem;
    }
  }
  &_amount_counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.3rem solid $text-dark;
    padding: 0.22rem 0.7rem;
  }
  &_amount_text {
    color: $text-dark;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.5rem;
  }
  &_amount_num {
    color: $text-dark;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    border: none;
    outline: none;
    width: 3.2rem;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &_amount_sign {
    font-size: 3.2rem;
    font-weight: 400;
    color: $text-dark;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
  &_amount_total {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 1.65px;
    margin: 4.5rem 0rem 6rem;
    max-width: 20rem;
  }
  &_btn {
    font-weight: 300;
    letter-spacing: 0.2rem;
    color: $text-light;
    width: 17.5rem;
    background-color: $text-dark;
    border: none;
    outline: none;
    height: 5rem;
    cursor: pointer;
    transition: 0.5s ease;
    margin-left: 2rem;
  }
}

.ticket_type_input:checked ~ .ticket_label_inner .ticket_type_dot {
  position: relative;
  &::after {
    content: '';
    position: absolute;

    width: 0.7rem;
    height: 0.7rem;
    background-color: $text-dark;
    left: 0.3rem;
    bottom: 0.3rem;
    border: 0.3rem solid #000000;
    border-radius: 50%;
  }
}

@media (max-width: 1370px) {
  .ticket {
    &_img {
      max-width: 50rem;
      object-fit: cover;
      margin-right: 1rem;
    }
    &_type {
      margin-left: 1rem;
    }
  }
}

@media (max-width: 1024px) {
  .ticket {
    padding-top: 6rem;
    padding-bottom: 6rem;
    &_title {
      font-size: 5rem;
      line-height: 7.5rem;
      margin-left: 1rem;
      &::after {
        bottom: -2.3rem;
      }
    }
    &_type {
      display: none;
    }
    &_blocks {
      margin-top: 8.3rem;
      justify-content: initial;
    }
    &_img {
      max-width: 70rem;
      height: 44rem;
      margin-left: 1rem;
      margin-right: 4rem;
    }
    &_amount_title {
      text-align: initial;
      margin-left: 4rem;
      margin-bottom: 2.8rem;
    }
    &_amount_text {
      margin-bottom: 0.9rem;
    }
    &_amount_counter {
      width: 17.5rem;
      height: 5rem;
      padding: 0;
    }
    &_amount_item:not(:first-child) {
      margin-bottom: 2.9rem;
    }
    &_amount_plus {
      margin-right: 0.8rem;
    }
    &_amount_minus {
      margin-left: 0.8rem;
    }
    &_amount_total {
      margin: 0;
      margin-left: 4rem;
      margin-top: -0.5rem;
    }
    &_btn {
      margin-left: 4rem;
      margin-top: 6.9rem;
    }
  }
}

@media (max-width: 768px) {
  .ticket {
    &_blocks {
      flex-direction: column;
    }
  }
}
