// colors

$text-dark: #000;
$text-light: #fff;

$dark: #030303;
$red: #710707;
$gold: #9d8665;

$link-visit: #fff;
$link-hover: #9d8665;
$link-active: #7e6c51;

$btn-color: #710707;
$btn-hover: #9d8665;

// font var

%font-default {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: normal;
}

// z-index;

$index-text: 2;
$index-img: 1;

// gallery img

%size-1 {
  max-width: 45.6rem;
  width: 100%;
  height: 57rem;
}

%size-2 {
  max-width: 45.6rem;
  width: 100%;
  height: 45.6rem;
}
