@import './variables.scss';

.welcome {
  background-color: $dark;
  overflow: hidden;
  &_inner {
    display: flex;
    padding-bottom: 5.4rem;
    justify-content: space-between;
  }
  &_left {
    margin-top: 15rem;
    position: relative;
  }
  &_title {
    font-family: 'Forum', sans-serif;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    color: $text-light;
    line-height: 112.5%;
    margin: 0;
    text-transform: uppercase;
  }
  &_title_1 {
    max-width: 37.7rem;
    width: 100%;
  }
  &_title_2 {
    min-width: 59.8rem;
    position: absolute;
    z-index: $index-text;
  }
  &_link {
    display: block;
    background-color: $red;
    max-width: 36rem;
    width: 100%;
    border-radius: 1rem;
    height: 7.5rem;
    border: none;
    color: $text-light;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin-top: 22.3rem;
    text-decoration: none;
    text-align: center;
    padding-top: 2.5rem;
    transition: 0.5s ease;
    &:hover {
      background-color: $btn-hover;
    }
  }
  &_title_3 {
    font-size: 2.8rem;
    color: $text-light;
    font-weight: 300;
    letter-spacing: 0.2rem;
    min-width: 44.5rem;
    position: absolute;
    top: 17.8rem;
    z-index: $index-text;
  }
  &_right {
    max-width: 100rem;
    width: 100%;
  }
  &_slider {
    position: relative;
    z-index: $index-img;
    &::after {
      content: '';
      position: absolute;
      pointer-events: none;
      height: 100%;
      width: 40rem;
      left: 0;
      top: 0;
      background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.7) 16.19%, rgba(0, 0, 0, 0) 30.73%);
      z-index: 2;
    }
  }
  &_slider_item {
    overflow: hidden;
  }
  &_slider_img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    outline: none;
  }
  &_slider_controls_inner {
    display: flex;
    justify-content: center;
    max-width: 60rem;
    width: 100%;
    height: 12rem;
    background-color: $dark;
    color: $text-light;
    position: absolute;
    right: 0;
    bottom: -5.4rem;
    z-index: 2;
  }
  &_slider_controls {
    display: flex;
    align-items: center;
    max-width: 45.1rem;
    width: 100%;
  }
  &_controls_number {
    display: flex;
    align-items: center;
    margin-right: 5.5rem;
  }
  &_controls_stick {
    display: block;
  }
  &_controls_num {
    width: 2.5rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
  &_controls_btn {
    width: 1.6rem;
    height: 1.6rem;
    background-color: $text-light;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      background-color: $link-hover;
    }
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &_controls_btns {
    margin-right: 5.3rem;
  }
  &_controls_arrows {
    margin-bottom: 0.7rem;
  }
  &_control_arrow {
    width: 3rem;
    height: 0.8rem;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      filter: invert(56%) sepia(19%) saturate(591%) hue-rotate(356deg) brightness(93%) contrast(88%);
    }
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

@media (max-width: 1400px) {
  .welcome {
    &_title {
      font-size: 7rem;
    }
  }
}

@media (max-width: 1024px) {
  .welcome {
    &_inner {
      padding-bottom: 6.6rem;
    }
    &_left {
      margin-top: 6.6rem;
      margin-left: 1rem;
    }
    &_left_menu_hide {
      opacity: 0;
      z-index: -1;
      pointer-events: none;
    }
    &_title {
      font-size: 5rem;
    }
    &_title_1 {
      margin-bottom: 3.5rem;
    }
    &_title_3 {
      font-size: 2.4rem;
      margin-top: 1rem;
    }
    &_right {
      max-width: 70rem;
      margin-right: 1rem;
    }
    &_link {
      width: 30rem;
      height: 6rem;
      font-size: 2rem;
      padding-top: 2rem;
      margin-top: 21.1rem;
    }
    &_slider_controls_inner {
      max-width: 100%;
    }
    &_slider_controls {
      max-width: 40.1rem;
      padding-top: 2.3rem;
      margin-left: 13.2rem;
    }
    &_controls_num {
      font-size: 2rem;
      font-weight: 400;
      line-height: 4rem;
    }
    &_controls_number {
      margin-right: 4.1rem;
    }
    &_controls_btns {
      margin: 0;
      padding-bottom: 0.5rem;
      margin-right: 4.5rem;
    }
    &_controls_btn {
      width: 1.2rem;
      height: 1.2rem;
      &:not(:last-child) {
        margin-right: 1.95rem;
      }
    }
    &_controls_arrows {
      margin-right: 0;
    }
    &_control_arrow:not(:last-child) {
      margin-right: 1.4rem;
    }
  }
}

@media (max-width: 900px) {
  .welcome {
    &_title {
      font-size: 5rem;
    }
    &_title_3 {
      font-size: 2rem;
    }
    &_slider_controls {
      margin-left: 1.5rem;
    }
    &_slider_controls_inner {
      height: 8rem;
    }
  }
}

@media (max-width: 768px) {
  .welcome {
    padding-bottom: 2.8rem;
    &_inner {
      flex-direction: column;
      margin-top: -1rem;
    }
    &_left {
      margin: 0;
    }
    &_right {
      max-width: 72.8rem;
      margin: 0 auto;
    }
    &_title {
      font-size: 4rem;
      font-weight: 400;
      line-height: 6rem;
      text-align: center;
      max-width: 100%;
    }
    &_title_1 {
      margin-bottom: 0;
    }
    &_title_2 {
      position: static;
    }
    &_title_3 {
      position: static;
      text-align: center;
      max-width: 100%;
      margin-top: 2.5rem;
      margin-bottom: 4.6rem;
    }
    &_link {
      display: none;
    }
    &_slider::after {
      content: '';
      display: none;
    }
    &_slides_controls {
      height: 10rem;
    }
    &_slider_controls_inner {
      bottom: -7.4rem;
    }
    &_slider_controls {
      margin-left: 0;
    }
  }
}

@media (max-width: 670px) {
  .welcome {
    &_title {
      font-size: 2.8rem;
      line-height: 4rem;
    }
    &_title_2 {
      min-width: initial;
    }
    &_title_3 {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
}

@media (max-width: 560px) {
  .welcome {
    &_slider_controls {
      max-width: 100%;
      display: flex;
      justify-content: center;
    }
    &_controls_btns {
      margin-right: 4.2rem;
    }
    &_title_3 {
      min-width: initial;
    }
  }
}

@media (max-width: 420px) {
  .welcome {
    padding-bottom: 1.3rem;
    &_slider_controls {
      padding-top: 0.9rem;
      margin-left: 0.5rem;
    }
    &_slider_inner {
      justify-content: center;
    }
    &_slider_item {
      max-width: 38rem;
      height: 28.5rem;
    }
    &_inner {
      margin-top: 0.7rem;
    }
    &_title_3 {
      margin-bottom: 5rem;
    }
    &_controls_num {
      font-size: 1.6rem;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
    &_controls_number {
      margin-right: 2.5rem;
    }
    &_controls_btn {
      width: 0.7rem;
      height: 0.7rem;
      padding: 0;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
    &_controls_btns {
      margin-right: 2.5rem;
    }
    &_controls_num {
      width: 1.6rem;
    }
    &_controls_num:not(:first-child) {
      margin-left: 0.5rem;
    }
    &_control_arrow {
      width: 2rem;
    }
    &_slider_img {
      object-fit: cover;
    }
  }
}
