@import '../../../../style/variables.scss';

.main_frame {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 3.8rem;
  &_block {
    display: flex;
    align-items: center;
    user-select: none;
  }
  &_text {
    margin: 0;
  }
  &_size {
    margin: 0;
    margin-left: 1rem;
  }
  &_other {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    user-select: none;
    width: 100%;
  }
  &_other_text {
    margin: 0;
  }
  &_other_size {
    @extend %frame-btns;
    &:not(:last-child) {
      margin-right: 0.4rem;
    }
  }
  &_other_size_dark {
    color: #a1d0e7;
    background: linear-gradient(180deg, #1a4256 0%, #0a1415 100%);
    &:hover {
      box-shadow:
        0px 0px 0.54px 0px #000,
        0px 0px 1.08px 0px #000,
        0px 0px 3.78px 0px #000,
        0px 0px 7.56px 0px #000,
        0px 0px 12.96px 0px #000,
        0px 0px 22.68px 0px #000;
    }
  }
  &_other_size_active {
    background: rgb(142, 122, 61);
  }
  &_other_size_active_dark {
    background: linear-gradient(180deg, #5d8498 0%, #182728 100%);
  }
  &_btn {
    @extend %collect-btn;
  }
  &_btn_dark {
    background: linear-gradient(180deg, #1a4256 0%, #0a1415 100%);
    color: #a1d0e7;
    &:hover {
      box-shadow:
        0px 0px 0.54px 0px #000,
        0px 0px 1.08px 0px #000,
        0px 0px 3.78px 0px #000,
        0px 0px 7.56px 0px #000,
        0px 0px 12.96px 0px #000,
        0px 0px 22.68px 0px #000;
    }
  }
  &_btn_active {
    background: rgb(142, 122, 61);
  }
  &_btn_active_dark {
    background: linear-gradient(180deg, #5d8498 0%, #182728 100%);
  }
}

@media (max-width: 870px) {
  .main_frame {
    max-width: 55rem;
    margin-top: 2rem;
  }
}

@media (max-width: 670px) {
  .main_frame {
    max-width: 50rem;
    margin-top: 4rem;
    &_other_size {
      font-size: 2.1rem;
    }
  }
}

@media (max-width: 570px) {
  .main_frame {
    max-width: inherit;
    margin-top: 4rem;
    &_other_size {
      font-size: 2.1rem;
    }
  }
}

@media (max-width: 450px) {
  .main_frame {
    max-width: inherit;
    margin-top: 4rem;
    &_other_size {
      font-size: 1.7rem;
    }
    &_btn {
      font-size: 2.1rem;
    }
  }
}
