@import '../../../../style/variables.scss';

.main_frame {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 3.8rem;
  &_block {
    display: flex;
    align-items: center;
    user-select: none;
  }
  &_text {
    margin: 0;
  }
  &_size {
    margin: 0;
    margin-left: 1rem;
  }
  &_other {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    user-select: none;
    width: 100%;
  }
  &_other_text {
    margin: 0;
  }
  &_other_size {
    @extend %frame-btns;
    &:not(:last-child) {
      margin-right: 0.4rem;
    }
  }
  &_other_size_active {
    background: rgb(142, 122, 61);
  }
  &_btn {
    @extend %collect-btn;
  }
  &_btn_active {
    background: rgb(142, 122, 61);
  }
}

@media (max-width: 870px) {
  .main_frame {
    max-width: 55rem;
    margin-top: 2rem;
  }
}

@media (max-width: 670px) {
  .main_frame {
    max-width: 50rem;
    margin-top: 4rem;
    &_other_size {
      font-size: 2.1rem;
    }
  }
}

@media (max-width: 570px) {
  .main_frame {
    max-width: inherit;
    margin-top: 4rem;
    &_other_size {
      font-size: 2.1rem;
    }
  }
}

@media (max-width: 450px) {
  .main_frame {
    max-width: inherit;
    margin-top: 4rem;
    &_other_size {
      font-size: 1.7rem;
    }
    &_btn {
      font-size: 2.1rem;
    }
  }
}
