@import '../../../../style/variables.scss';

.popups {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  -webkit-backdrop-filter: blur(0.75rem);
  backdrop-filter: blur(0.75rem);
  user-select: none;
  &_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 100%;
    min-height: 38rem;
    border: 0.5rem solid #7e7d7b;
    padding-bottom: 7rem;
    background: rgba(21, 22, 19, 0.86);
  }

  &_inner_dark {
    border-color: #132935;
    background: rgba(3, 5, 6, 0.5);
  }

  &_close_btn {
    @extend %close-btn;
    background: url('../../../../assets/svg/close-btn.svg') no-repeat center/contain;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: none;
  }

  &_new_btn {
    @extend %popup-btn;
  }

  &_new_btn_dark {
    background: linear-gradient(180deg, #1a4256 0%, #0a1415 100%);
    color: #a1d0e7;

    &:hover {
      box-shadow:
        0px 0px 0.54px 0px #000,
        0px 0px 1.08px 0px #000,
        0px 0px 3.78px 0px #000,
        0px 0px 7.56px 0px #000,
        0px 0px 12.96px 0px #000,
        0px 0px 22.68px 0px #000;
    }

    &:disabled {
      background: linear-gradient(180deg, #5d8498 0%, #182728 100%);
    }
  }
}

@media (max-width: 540px) {
  .popups {
    &_result_title {
      font-size: 3rem;
    }

    &_close_btn {
      width: 3rem;
      height: 3rem;
    }

    &_new_btn {
      font-size: 2.5rem;
    }
  }
}
