@import '../../../../style/variables.scss';

.popups {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  &_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 100%;
    min-height: 35rem;
    border: 0.5rem solid #7e7d7b;
    padding-bottom: 7rem;
  }
  &_close_btn {
    @extend %close-btn;
    background: url('../../../../assets/svg/close-btn.svg') no-repeat center/contain;
    position: absolute;
    right: 2rem;
    top: 3rem;
    border: none;
  }
  &_new_btn {
    @extend %popup-btn;
  }
}

@media (max-width: 540px) {
  .popups {
    &_result_title {
      font-size: 3rem;
    }
    &_close_btn {
      width: 3rem;
      height: 3rem;
    }
  }
}
