.popups_collect {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &_title {
    text-align: center;
    color: gainsboro;
    margin: 0;
    margin-bottom: 2rem;
  }
  &_time {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    color: gainsboro;
    margin: 0;
    margin-bottom: 1rem;
  }
  &_total_time {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    color: gainsboro;
    margin: 0;
    margin-bottom: 1rem;
  }
  &_moves {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    color: gainsboro;
    margin: 0;
    margin-bottom: 1rem;
  }
}
