.main_game_animation {
  position: relative;
  margin: 10px;
  background-color: transparent;
}

.main_game_animation::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  z-index: 1;
  animation-name: gradient-shadow;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}

@keyframes gradient-shadow {
  0% {
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
  20% {
    box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  }
  40% {
    box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
  }
  60% {
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  }
  80% {
    box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
  }
  100% {
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
}

@keyframes white-shadow {
  0% {
    box-shadow: 3rem -3rem 8rem 4rem #fff;
  }
  12.5% {
    box-shadow: 3rem 1.5rem 8rem 4rem #fff;
  }
  25% {
    box-shadow: 3rem 3rem 8rem 4rem #fff;
  }
  37.5% {
    box-shadow: 0rem 3rem 8rem 4rem #fff;
  }
  50% {
    box-shadow: -3rem 3rem 8rem 4rem #fff;
  }
  62.5% {
    box-shadow: -3rem 0rem 8rem 4rem #fff;
  }
  75% {
    box-shadow: -3rem -3rem 8rem 4rem #fff;
  }
  100% {
    box-shadow: 0rem 0rem 8rem 4rem #fff;
  }
}
