.main_game {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  &_container {
    display: grid;
    width: 100%;
    height: 100%;
    border: 1px solid salmon;
    padding: 0.5rem;
    border-radius: 1rem;
    grid-gap: 0.5rem;
    &_3x3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &_4x4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &_5x5 {
      grid-template-columns: repeat(5, 1fr);
    }
    &_6x6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &_7x7 {
      grid-template-columns: repeat(7, 1fr);
    }
    &_8x8 {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  &_square {
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 1rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: ease 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      border: 2px solid wheat;
    }
  }
  &_square_empty {
    border: none;
    cursor: auto;
    outline: none;
    user-select: none;
    z-index: -1;
    &:hover {
      border: none;
    }
  }
}
