@import '../../../../assets/../style/variables.scss';

.main_game {
  margin: 0 auto;
  max-width: 65rem;
  width: 100%;
  &_over {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;
  }
  &_container {
    display: grid;
    padding: 0.5rem;
    grid-gap: 0.5rem;
    box-shadow: 0rem 0rem 8rem 4rem #fff;
    background: rgba(20, 19, 17, 0.64);
    backdrop-filter: blur(5px);
    &_3x3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &_4x4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &_5x5 {
      grid-template-columns: repeat(5, 1fr);
    }
    &_6x6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &_7x7 {
      grid-template-columns: repeat(7, 1fr);
    }
    &_8x8 {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  &_square {
    font-size: 4.8rem;
    line-height: 140%;
    color: $color-text;
    aspect-ratio: 1/1;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: linear 0.2s;
    user-select: none;
    border: 0.6rem solid #aeb1ab;
    background: #3d3d3d;
    opacity: 0.8;
    &_3x3 {
      font-size: 4.8rem;
    }
    &_4x4 {
      font-size: 4.4rem;
      border: 0.55rem solid #aeb1ab;
    }
    &_5x5 {
      font-size: 4rem;
      border: 0.5rem solid #aeb1ab;
    }
    &_6x6 {
      font-size: 3.6rem;
      border: 0.45rem solid #aeb1ab;
    }
    &_7x7 {
      font-size: 3.2rem;
      border: 0.35rem solid #aeb1ab;
    }
    &_8x8 {
      font-size: 2.8rem;
      border: 0.3rem solid #aeb1ab;
    }
  }
  &_square_empty {
    border: none;
    cursor: auto;
    outline: none;
    user-select: none;
    z-index: 0;
    background: none;
  }
}

@media (max-width: 1920px) and (max-height: 1000px) {
  .main_game {
    max-width: 57rem;
  }
}

@media (max-width: 870px) {
  .main_game {
    max-width: 55rem;
    &_container {
      box-shadow: 0rem 0rem 5rem 4rem #fff;
    }
  }
}

@media (max-width: 670px) {
  .main_game {
    max-width: 50rem;
    &_container {
      box-shadow: 0rem 0rem 6rem 3rem #fff;
    }
  }
}

@media (max-width: 570px) {
  .main {
    position: relative;
  }
}
